<nav class="navbar sticky-top navbar-expand-lg border-bottom">
  <div class="container-lg">
    <a class="navbar-brand" href="{{ url('home') }}"><img src="/public/logo.svg" height="24" alt="" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url('home') }}">Home</a>
        </li>
      </ul>
      <div class="d-flex ms-auto">
        {% if auth() %}
          <div class="dropdown">
            <a href="#" class="d-flex align-items-center justify-content-end link-body-emphasis text-decoration-none dropdown-toggle show" data-bs-toggle="dropdown" aria-expanded="true">
              <span class="me-2">{{ auth().name }}</span>
              <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2" />
            </a>
            <ul class="dropdown-menu dropdown-menu-end text-small shadow mt-2" data-popper-placement="top-start">
              <li>
                <a class="dropdown-item" href="{{ url('dashboard') }}">Dashboard</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Profile</a>
              </li>
              <li>
                <form action="{{ url('logout') }}" method="post">
                  <button class="dropdown-item" type="submit">Logout</button>
                </form>
              </li>
            </ul>
          </div>
        {% else %}
          <a href="{{ url('sign-in.view') }}" class="btn btn-primary">Sign in</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
